/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */

:root {
    --color-black: #000000;
    --color-grey: #999999;
    --color-primary: #E50914;
    --color-white: #FFFFFF;

}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Application Styles */

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-black);
    color: var(--color-grey);
    font-family: 'Roboto',sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    color: var(--color-white);
}

a {
    color: var(--color-white);
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    background: URL('./images/background.jpg') no-repeat center center/cover;
    height: 93vh;
    position: relative;
    width: 100%;
}

.showcase::after {
    background-color: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px var(--color-black),inset -120px -100px 250px var(--color-black);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.showcase-top {
    height: 90px;
    position: relative;
    z-index: 2;
}

.showcase-top img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 170px;
}

.showcase-top a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%,-50%);
}

.showcase-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9rem auto auto auto;
    position: relative;
    text-align: center;
    z-index: 2;
}

.showcase-content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}

.showcase-content p {
    color: var(--color-white);
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 2rem;
    text-transform: uppercase;
}

/* Utility Classes */

/* Buttons */

.btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    padding: 0.4rem 1.3rem;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}